@import "tailwindcss";

html, body {
  padding: 0;
  margin: 0;
}

body {
  @apply bg-black text-white;
}

:root {
  --gold: #d4af37;
}

.gold-text {
  color: var(--gold);
}

.gold-bg {
  background-color: var(--gold);
}

.nav-link {
  position: relative;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 2px;
  width: 0;
  background-color: var(--gold);
  transition: width 0.3s ease;
  
}

.nav-link:hover {
  color: var(--gold);
}

.nav-link:hover::after {
  width: 100%;
}